.bg {
    
    background-image: url("penguin.jpg");
    background-size: cover;
    background-color: rgba(168, 242, 242, 0.343);
}

main {
    
    width: 550px;
    height: 250px;
    margin: 150px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.2);
    
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.text {
    text-align: center;
}

.options{
    margin: 20px;
    
}

.buttons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    

}

.resultbox {
    display: none;
    width: 550px;
    margin: 150px auto;
    padding: 20px;
    background-color: rgba(196, 254, 196, 0.80);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.2);

    
}